@import "../../styles/globalStyles.css";
@import "../../styles/reset.css";


.general__button{
    height: 2.5rem;
    width: 7rem;
    background-color: var(--color-purple);
    border:none;
    border-radius: 10px;
    color: var(--color-white);
    font-family:'Inter', sans-serif;
    font-size: 0.875rem;
    font-weight: 600;
}

.general__button:hover{
    background-color: var(--color-purple-hover) ;
    cursor: pointer;
}
